In [42]:
#Input the string “Python” as a list of characters from console, delete at least 2
# characters, reversetheresultant string, and print it.
p = input("Please enter input: ")
list1 = []
list1.extend(p)
list1.remove('p')
list1.remove('n')
list1.remove('o')
list1.reverse()

print(*list1)

Please enter input: python
h t y

In [65]:
#Take two numbers from user and perform at least 4 arithmetic operations on them.
num1 = int (input ("Enter 2 numbers seperated by one entering:"))
numb2 = int(input())


print(num1+numb2)
print(num1 / numb2)
print(num1 * numb2)
print(num1 - numb2)

Enter 2 numbers seperated by one entering:1
2
3
0.5
2
-1

In [58]:
#Write a program that accepts a sentence and replace each occurrence of ‘python’ with
#‘pythons’.
sent=input("please enter a sentace with the word python: ")
list2=sent.split()
i = 0
while i < len(list2):

    # replace python with pythons
    if list2[i] == 'python':
        list2[i] = 'pythons'

    i += 1

# print list
print(*list2)

please enter a sentace with the word python: the python cow jumped over the python moon
the pythons cow jumped over the pythons moon

In [21]:
#grades
score = eval(input("enter student score: "))

if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
elif score >= 60:
    grade = 'D'
else:
    grade = 'F = Falilure'
#display rsults
print(f"Student score is {score} and the letter grade is {grade}")

enter student score: 69
Student score is 69 and the letter grade is D