In [22]:
#question 1

from statistics import *
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(ages)
print(min(ages))
print(max(ages))
ages.insert(19,26)
print(mode(ages)/2)
print(mean(ages))
print(max(ages)- min(ages))

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
19
26
12.0
23.09090909090909
7

In [64]:
#question 2
dog= {}
dog['name','color','breed','legs','age']= input("Please give dog name,color,breed, num of legs, and age: ")
student = {
    'first_name': 'John',
    'last_name': 'Doe',
    'gender': 'Male',
    'age': 18,
    'marital status': 'Single',
    'skills': ['skateboarding', 'python'],
    'country': 'USA',
    'city': ' Warrensburg',
}
print(dog)
length_of_student = len(student)
print(f'Length of student dictionary: {length_of_student}')
skills = student['skills']
print(f'Skills: {skills}')
print(f'Data type of skills: {type(skills)}')
student['skills'].extend(['Java', 'Physics'])
print(f'Updated skills: {student["skills"]}')
keys_list = list(student.keys())
print(f'Keys of student dictionary: {keys_list}')
values_list = list(student.values())
print(f'Values of student dictionary: {values_list}')

Please give dog name,color,breed, num of legs, and age: ruff, brown, golden, 4, 3
{('name', 'color', 'breed', 'legs', 'age'): 'ruff, brown, golden, 4, 3'}
Length of student dictionary: 8
Skills: ['skateboarding', 'python']
Data type of skills: <class 'list'>
Updated skills: ['skateboarding', 'python', 'Java', 'Physics']
Keys of student dictionary: ['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city']
Values of student dictionary: ['John', 'Doe', 'Male', 18, 'Single', ['skateboarding', 'python', 'Java', 'Physics'], 'USA', ' Warrensburg']

In [62]:
#Q3
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
print(len(it_companies))
it_companies.add('twitter')
print(it_companies)
it_companies.update(["Tesla", "chatGPT", "spaceX"])
print(it_companies)
it_companies.remove('chatGPT')
#the difference between remove and discard is that discard will not notify if the item does not exist
C = A.union(B)
print(C)
print(A.intersection(B))
print(A.issubset(B))
print(A.isdisjoint(B))
print(A|B)
print(B|A)
print(A.symmetric_difference(B))
A.clear
B.clear
print(age.set())
#theyre the same as the oth have the same values

7
{'IBM', 'Apple', 'Oracle', 'twitter', 'Amazon', 'Microsoft', 'Facebook', 'Google'}
{'twitter', 'Tesla', 'Amazon', 'spaceX', 'Microsoft', 'Facebook', 'Google', 'IBM', 'chatGPT', 'Oracle', 'Apple'}
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
True
False
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}

In [65]:
#Q4
class Employee:
    employee_count = 0
    total_salary = 0
    def __init__(self, name, family, salary, department):
        self.name = name
        self.family = family
        self.salary = salary
        self.department = department

        Employee.employee_count += 1
        Employee.total_salary += salary

    @classmethod
    def average_salary(cls):
        """Return the average salary of all employees."""
        if cls.employee_count == 0:
            return 0
        return cls.total_salary / cls.employee_count


class FulltimeEmployee(Employee):
    pass


employee1 = Employee('John deer', 'deer Family', 50000, 'Finance')
employee2 = FulltimeEmployee('Jaden Smith', 'Smith Family', 60000, 'pickle factory')

print(f"Total number of employees: {Employee.employee_count}")
print(f"Average salary: ${Employee.average_salary():.2f}")

employee3 = FulltimeEmployee('Alice Johnson', 'Johnson Family', 70000, 'HR')
print(f"Total number of employees after adding a FulltimeEmployee: {Employee.employee_count}")
print(f"Average salary after adding a FulltimeEmployee: ${Employee.average_salary():.2f}")

Total number of employees: 2
Average salary: $55000.00
Total number of employees after adding a FulltimeEmployee: 3
Average salary after adding a FulltimeEmployee: $60000.00